<div class="content-container">
  <form clrForm>
    <label for="select-full" class="clr-control-label select-run-text">Select Run</label>
    <div class="clr-control-container">
      <div class="clr-select-wrapper select-run-placeholder">
        <select id="select-full" class="clr-select" [(ngModel)]="selectedRunId" [ngModelOptions]="{standalone: true}" (change)="runIdChanged()">
          <option class="select-run-option" value="{{runItemsDropDownItem.id}}" *ngFor="let runItemsDropDownItem of runItemsDropDownItems">{{runItemsDropDownItem.desc}}</option>
        </select>
      </div>
    </div>
  </form>
  <div>
    <app-analyzer-run-details [analyzerRun]="analyzerRunSelected" *ngIf="loaded"></app-analyzer-run-details>
    <!--<csa-executive-summary [analyzerRun]="analyzerRunSelected" *ngIf="loaded"></csa-executive-summary>-->
    <!--<app-rules></app-rules>-->
  </div>

</div>
