<div class="summary-cards">
  <div class="card summary-card">
    <div class="card-img" align="center">
      <cds-icon shape="applications" class="summary-text"></cds-icon>
    </div>
    <div class="card-block" align="center">
      <h4 class="card-title summary-label">Apps</h4>
      <p class="card-text summary-text">{{numAppsByRun}}</p>
    </div>
  </div>
  <div class="card summary-card">
    <div class="card-img" align="center">
      <cds-icon shape="code" class="summary-text"></cds-icon>
    </div>
    <div class="card-block" align="center">
      <h4 class="card-title summary-label">Lines of code</h4>
      <p class="card-text summary-text">{{locByRun}}</p>
    </div>
  </div>
  <div class="card summary-card">
    <div class="card-img" align="center">
      <cds-icon shape="file" class="summary-text"></cds-icon>
    </div>
    <div class="card-block" align="center">
      <h4 class="card-title summary-label">Files</h4>
      <p class="card-text summary-text">{{numFilesByRun}}</p>
    </div>
  </div>
  <div class="card summary-card">
    <div class="card-img" align="center">
      <cds-icon shape="pinboard" class="summary-text"></cds-icon>
    </div>
    <div class="card-block" align="center">
      <h4 class="card-title summary-label">Findings</h4>
      <p class="card-text summary-text">{{findings}}</p>
    </div>
  </div>
</div>
<div  class="summary-tabs">
  <clr-tabs>
    <clr-tab class="summary-tab">
      <button clrTabLink>Scoring summary</button>
      <clr-tab-content *clrIfActive>
        <clr-datagrid class="summary-grid">
          <clr-dg-action-bar>
            <div class="action-bar">
              <div class="action-bar-item-left">
                <app-excel-export id="excel-export" [data]="filteredApplicationScores"
                                  [file_name]="'app-summary.csv'"></app-excel-export>
              </div>
              <div class="action-bar-item-right">
                <cds-search control-width="shrink">
                  <label>Search</label>
                  <input type="search" [(ngModel)]="searchCrit"/>
                </cds-search>
              </div>
            </div>
          </clr-dg-action-bar>
          <clr-dg-column [clrDgField]="'name'">Application</clr-dg-column>
          <clr-dg-column [clrDgField]="'slocCnt'" [clrDgColType]="'number'">LOC</clr-dg-column>
          <clr-dg-column [clrDgField]="'filesCnt'" [clrDgColType]="'number'">Files</clr-dg-column>
          <!-- <clr-dg-column [clrDgField]="'rawScore'" [clrDgColType]="'number'">Raw Score</clr-dg-column> -->
          <clr-dg-column [clrDgField]="'model'">Scoring Model</clr-dg-column>
          <clr-dg-column [clrDgField]="'score'" [clrDgColType]="'number'">Technical Score</clr-dg-column>

          <clr-dg-row
            *clrDgItems="let filteredApplicationScore of filteredApplicationScores  | searchFilter: 'name' : searchCrit">
            <clr-dg-cell>{{filteredApplicationScore.name}}</clr-dg-cell>
            <clr-dg-cell>{{filteredApplicationScore.slocCnt}}</clr-dg-cell>
            <clr-dg-cell>{{filteredApplicationScore.filesCnt}}</clr-dg-cell>
            <!-- <clr-dg-cell>{{filteredApplicationScore.rawScore}}</clr-dg-cell> -->
            <clr-dg-cell>{{filteredApplicationScore.model}}</clr-dg-cell>
            <clr-dg-cell>{{filteredApplicationScore.score}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="25">
              <clr-dg-page-size [clrPageSizeOptions]="[25,50,100]">Applications per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              of {{pagination.totalItems}} applications (filtered) showing for portfolio...
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
    <clr-tab class="summary-tab">
      <button clrTabLink>Charts</button>
      <clr-tab-content *clrIfActive="false">
        <div class="summary-charts">
          <div class="summary-chart" #containerRef>
            <ngx-charts-bar-horizontal
              [view]="[containerRef.offsetWidth, 400]"
              [scheme]="colorScheme"
              [results]="top5LanguagesByLocData"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelForLanguagesByLoc"
              [yAxisLabel]="yAxisLabelForLanguagesByLoc"
              [barPadding]="barPadding"
              [showGridLines]="showGridLines"
              (select)="onSelectApisByScore($event)"
              (activate)="onActivateApisByScore($event)"
              (deactivate)="onDeactivateApisByScore($event)">
            </ngx-charts-bar-horizontal>
          </div>
          <div class="summary-chart" #containerRef>
            <ngx-charts-bar-horizontal
              [view]="[containerRef.offsetWidth, 400]"
              [scheme]="colorScheme"
              [results]="top5ApisByScoreData"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelForApiByScore"
              [yAxisLabel]="yAxisLabelForApiByScore"
              [barPadding]="barPadding"
              [showGridLines]="showGridLines"
              (select)="onSelectApisByScore($event)"
              (activate)="onActivateApisByScore($event)"
              (deactivate)="onDeactivateApisByScore($event)">
            </ngx-charts-bar-horizontal>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

</div>
