/* Split the screen in half */

.split {
  width: 50rem;
  display: flex;
}

/* Control the left side */
.left {
  float: left;
  left: 0;
  width: 35%;
  background-color: #FAFAFA;
}

/* Control the right side */
.right {
  float: right;
  right: 0;
  width: 63%;
  background-color: white;
}

.findingmodal-content {
  height: 100%;
}

p span {
  display: block;
}

.kv-value {
  font-size: 14px;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 1;
  text-align: left;
  word-break: break-all;
}

.kv-field {
  font-size: 14px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  line-height: 1;
}

.finding-advice {
  margin-top: 0px;
  margin-bottom: 0px;
}

.finding-rule {
  margin-top: 1px;
  margin-bottom: 0.25em;
  margin-left: 0px;
  margin-right: 0px;
}
