<?xml version="1.0" encoding="utf-8"?>
<packages>
 <package id="App.Metrics.Extensions.Hosting" version="1.2.2" targetFramework="net45" />
<package id="DotNetOpenAuth.Core" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.2.2" targetFramework="net45" />
<package id="MiniProfiler" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.AspNet.Mvc" version="1.2.2" targetFramework="net45" />
<package id="System.Net.Http.Formatting.Extension" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Build.Tasks.Git" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.CrmSdk.CoreAssemblies" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.VisualStudio.SlowCheetah" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.AspNet.Identity.EntityFramework" version="1.2.2" targetFramework="net45" />
<package id="Autofac.Mvc5" version="1.2.2" targetFramework="net45" />
<package id="Ninject.Web.Common.WebHost" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.VisualStudio.Azure.Fabric.MSBuild" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Build.Locator" version="1.2.2" targetFramework="net45" />
<package id="Autofac.WebApi2" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.NETFramework.ReferenceAssemblies.net461" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Web.RedisSessionStateProvider" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Data.SqlClient.SNI" version="1.2.2" targetFramework="net45" />
<package id="System.Data.SQLite.Linq" version="1.2.2" targetFramework="net45" />
<package id="RazorEngine" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.AspNet.SignalR" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.CodeAnalysis.Workspaces.MSBuild" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Security.OAuth" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Cors" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Security.OpenIdConnect" version="1.2.2" targetFramework="net45" />
<package id="Unity.AspNet.WebApi" version="1.2.2" targetFramework="net45" />
<package id="FluentValidation.MVC5" version="1.2.2" targetFramework="net45" />
<package id="Unity.Mvc" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Azure.Common.Dependencies" version="1.2.2" targetFramework="net45" />
<package id="Autofac.WebApi2.Owin" version="1.2.2" targetFramework="net45" />
<package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.2.2" targetFramework="net45" />
<package id="ImageProcessor.Web" version="1.2.2" targetFramework="net45" />
<package id="runtime.aot.System.Reflection.Primitives" version="1.2.2" targetFramework="net45" />
<package id="ImageProcessor" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.CrmSdk.Deployment" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.2.2" targetFramework="net45" />
<package id="Portable.DataAnnotations" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.NETFramework.ReferenceAssemblies.net45" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.SelfHost" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Testing" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="1.2.2" targetFramework="net45" />
<package id="NLog.Extended" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.AspNet.WebApi.Versioning" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Security.WsFederation" version="1.2.2" targetFramework="net45" />
<package id="Autofac.Owin" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.NETFramework.ReferenceAssemblies.net462" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.CrmSdk.Workflow" version="1.2.2" targetFramework="net45" />
<package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.ServiceFabric.AspNetCore.Abstractions" version="1.2.2" targetFramework="net45" />
<package id="Ninject.Web.WebApi" version="1.2.2" targetFramework="net45" />
<package id="ImageResizer" version="1.2.2" targetFramework="net45" />
<package id="System.Reactive.Windows.Threading" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Security.ActiveDirectory" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.ServiceFabric.AspNetCore.Kestrel" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.Diagnostics" version="1.2.2" targetFramework="net45" />
<package id="Glimpse" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.StaticFiles" version="1.2.2" targetFramework="net45" />
<package id="FluentValidation.WebAPI" version="1.2.2" targetFramework="net45" />
<package id="NLog.Web" version="1.2.2" targetFramework="net45" />
<package id="Ninject.MVC5" version="1.2.2" targetFramework="net45" />
<package id="Microsoft.Owin.FileSystems" version="1.2.2" targetFramework="net45" />
<package id="Telerik.DataAccess.Fluent" version="1.2.2" targetFramework="net45" />
<package id="Telerik.DataAccess.Web" version="1.2.2" targetFramework="net45" />
<package id="Telerik.DataAccess.Core" version="1.2.2" targetFramework="net45" />
</packages>