<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>localConnector-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>jndi-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute 
        to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443"
        id="defaultHttpEndpoint" />

    <applicationMonitor updateTrigger="mbean" />

    <jndiEntry jndiName="env/foo" value="${env.foo}" />

</server>
