<div class='run-summary'>
  <div class="run-summary-line">
        <span class='run-summary-icon-line'>
          <cds-icon shape="user"></cds-icon>
        </span>
    <span class="run-summary-text-line"> {{ analyzerRun.User }}</span>
  </div>
  <div class="run-summary-line">
        <span class='run-summary-icon-line'>
          <cds-icon shape="calendar"></cds-icon>
        </span>
    <span class="run-summary-text-line"> {{ analyzerRun.requestDate }}</span>
  </div>
  <div class="run-summary-line">
        <span class='run-summary-icon-line'>
          <cds-icon shape="clock"></cds-icon>
        </span>
    <span class="run-summary-text-line"> {{ analyzerRun.Runtime }}</span>
  </div>
  <div class="run-summary-line">
        <span class='run-summary-icon-line'>
          <cds-icon shape="target"></cds-icon>
        </span>
    <span class="run-summary-text-line"> {{ analyzerRun.Target }}</span>
  </div>
  </div>
