<header class="header-6 container-header">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <cds-icon shape="cloud" badge="success"></cds-icon>
      <span class="title">Cloud Suitability Analyzer</span>
    </a>
  </div>
  <div class="header-nav">
    <a [routerLink]="['csa-executive-summary']" class="active nav-link nav-text">Summary</a>
    <a [routerLink]="['csa-application-summary']" class="nav-link nav-text">Application</a>
    <a href="javascript://" class="nav-link nav-text">Data</a>
    <a href="javascript://" class="nav-link nav-text">Rule</a>
  </div>
</header>
