.select-app-placeholder{
  position: absolute;
  width: 550px;
  height: 24px;
  left: 130px;
  top: 190px;
}

.select-app-option {
  width: 250px;
  height: 24px;
  left: 6px;
  top: 0px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.54;
}

.select-app-text {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 25px;
  top: 190px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.select-badge-text {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 100px;
  top: 190px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.finding-cards {
  display: flex;
  left: 24px;
  align-content: center;
  justify-content: space-between;
  align-content: space-around;
}
.findings-card {
  border-radius: 3px;
  width: 18%;
}

.findings-tab{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 0px 0px;
  height: 36px;
  left: 25px;
}

.findings-tabs{
  padding-top: 20px;
}

.summary-grid-divider{
  height: 1px;
  left: 0%;
  right: 0%;
  top: 448px;
  background: #CCCCCC;
}

.summary-grid{
  display: flex;
}

.summary-grid-export{
  width: 74px;
  height: 36px;
  left: 25px;
  top: 552px;
}

.grid-column{
  width: 15%;
}

.grid-column-first{
  width: 25%;
}

.summary-charts{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
}

.summary-chart{
  border: 1px solid #d7d5d7;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px #d7d5d7;
  border-radius: 3px;
  width: 100%;
  background-color: white;
  position: relative;
}
.badge-color-white{
  color: #FFFFFF
}

.card-green {
  background: #78BE20
}

.card-orange {
  background: #FF9C33
}

.card-red {
  background: #F54F47
}

.card-grey {
  background: #264656
}

.card-blue {
  background: #0091DA
}

.action-bar{
  display: flex;
}
.action-bar-item-left{
  width: 80%;
}
.action-bar-item-right{
  width: 20%;
}
